@use "scss/base/resets";
@use "scss/base/base";
@use "scss/abstract/variables";



h1 {
    text-align: center;
    margin-top: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: var(--color-cream);
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 100px;
        width: 100%;

        a {
            color: blue;
        }

        .active {
            border-bottom: solid blue 3px;
        }
    }

    .logo {
        margin-left: 10px;
    }

    .menu {
        display: none;
    }
}

//Mobil design
@media (max-width: 650px) {

    .navbar {

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        .hide {
            display: none;
        }


        ul {
            display: flex;
            flex-direction: column;
            position: static;
            top: 40px;
            background-color: var(--color-cream);

            li {
                margin-bottom: 10px;
            }


            a {
                color: blue;
            }

            .active {
                border-bottom: solid blue 3px;
            }
        }

        .menu {
            display: block;
        }
    }



}