
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

  :root{
    --font-dm: 'DM Sans', sans-serif;
    --color-soft-red:hsl(10, 79%, 65%);
    --color-cyan: hsl(186, 34%, 60%);
    --color-cyan-soft:hsl(187, 49%, 80%);
    --color-dark-brown: hsl(25, 47%, 15%);
    --color-medium-brown:  hsl(28, 10%, 53%);
    --color-cream: hsl(27, 66%, 92%);
    --color-very-pale-orange: hsl(10, 100%, 76%);
    --color-background: rgba(247,233,220,255);
    
  }